/*main-footer--------------------------------*/
.main-footer{
    background-color: #F5F5F5;
    .copyRight{
        padding: 16px 0;
        margin-bottom: 0;
        color: #221E1F;
        font-size: 16px;
        text-align: center;
    }
}